@import "tailwindcss";

:root {
    --bg-color: #272727;
    --darker-bg-color: #181818;
    --lighter-bg-color: #393939;
    --hover-bg-color: #525252;
    --text-color: #ffffff;
    --h1-color: #5c3131;
    --h2-color: #723f3f;
    --h3-color: #8a4d4d;
    --h4-color: #a15b5b;
    --h5-color: #b16969;
    --h6-color: #c27777;
}

body {
    background-color: var(--bg-color);
}

.darker-bg {
    background-color: var(--darker-bg-color);
}

.lighter-bg {
    background-color: var(--lighter-bg-color);
}

.hover-bg:hover {
    background-color: var(--hover-bg-color);
}

.markdown h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--h1-color);
}
.markdown h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    color: var(--h2-color);
}
.markdown h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--h3-color);
}
.markdown h4 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--h4-color);
}
.markdown h5 {
    font-size: 0.875rem;
    margin-top: 0.875rem;
    margin-bottom: 0.5rem;
    color: var(--h5-color);
}
.markdown h6 {
    font-size: 0.75rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    color: var(--h6-color);
}
.markdown p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
}
.markdown a {
    color: #1e90ff;
    text-decoration: underline;
}
.markdown a:hover {
    text-decoration: none;
}